<h1>Welcome to Demo</h1>

<ul>
	<li><%= link_to "Programs", programs_path %></li>
	<li><%= link_to "Authorize", {:controller => 'authorize', :action => 'new'} %></li>
   	<li><%= link_to "Advanced", {:controller => 'advanced'} %></li>
</ul>
